@font-face {
  font-family: justsignature;
  src: url('../fonts/justsignature/JustSignature.woff');
}
body, html {
  width: 100%;
  height: 100%;
}
p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #9e9e9e;
  font-size: 12px;
}
#id-card {
  position: relative;
  display: none;
  margin: 230px 50px 0 0;
  float: right;
  width: 457px;
  height: 272px;
  padding: 54px 17px 10px 144px;
  background: url("../images/brickan_rounded.png");
  border-radius: 10px;
}
img {
  position: absolute;
  left:307px;
  top:50px;
  width: 100px;
  height: 130px;
}
#name {
  font-family: sans-serif;
  position: absolute;
  top: 172px;
  left: 47px;
  font-weight: bolder;
  font-size: 17px;
  color: #282828;
}
#lastname {
  font-family: sans-serif;
  position: absolute;
  top: 206px;
  left: 47px;
  font-weight: bolder;
  font-size: 17px;
  color: #282828;
}
#sex {
  font-family: sans-serif;
  font-size: 17px;
  position: absolute;
  left: 47px;
  top: 240px;
  color: black;
}
#signature {
  position: absolute;
  top: 87px;
  left: 52px;
  color: #b1b177;
  font-size: 19px;
  text-transform:capitalize;
  font-family: justsignature;
  font-weight: bolder;
}
